*{
    font-family: unset;
    font-weight: 100;
    
}
body{
    background: radial-gradient(circle, #fff, #bbb);
    padding: 15px;
}
.grid-container {
    display: grid; 
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    border: 3px solid #000;
    background: #333;
    grid-auto-flow: dense;
    /*es para posicionarlos justify-content: space-evenly*/
    justify-content: space-evenly;/*los centra start izquierda y end derecha
    justify-content center end start */
    align-content: space-evenly;/*si le quitamos lo que vamos a hacer es que sepone ala esquina como si no tuviera espacio */
    justify-items: center;/*es para centrar de arriba abajo*/
    height: 600px;
    align-items: center;
}
.grid-item {
    border: 1px solid #000;
    background: #999;
    font-size: 30px;
    padding: 50px;
    
}


.grid-item:first-child{
    align-self: start;
    justify-self: start;
}

/*3 y 5 se unen  3 */
.grid-item:nth-child(5){
    justify-self: end;
}

.grid-item:nth-child(6){
    justify-self: start;
    
}

.grid-item:nth-child(4){
    align-self: end;
}
/*es puro posicionamiento*/
.grid-item:last-child{
    align-self: end;
    justify-self: start;
    
}